rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Store game packages under games/...
    match /games/{allPaths=**} {
      allow read: if request.auth != null && request.auth.token.email_verified == true;
      allow write: if false;
    }

    // Deny everything else by default.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
